.about-home {
	// padding: 9px;
	// text-align: center;

	.aboutMeCard {
		display: flex;
		flex-direction: row;
		align-content: center;
		align-items: center;
		text-align: left;
		

.image {
	padding: 90px;
	
	margin-right: 10%;
	img {
		width: 250%;
		border-radius: 50px;
	}
}
		.aboutMe {
			margin: 5%;
			align-content: center;
			align-items: center;
			h1,
			h2,
			h3,
			h4 {
				color: rgb(27, 27, 27);
				font-size: 1.2rem;
				letter-spacing: 1.5px;
			}
		}
		.image-card {
			width: 50%;
			margin: 5%;
			margin-top: 8%;
			padding: 30px;
			align-content: center;
			align-items: center;
			img {
				width: 95%;
				height: auto;
				border-radius: 50px;
			}
		}
	}
	.skillsTitle {
		margin-top: 6%;
		background: black;
		height: 170px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		h1 {
			color: white;
			font-size: 3rem;
			letter-spacing: 10px;
			
		}
	}
	.skills-cards {
		display: flex;
		justify-content: space-around;
		padding: 50px;
		background: black;
		img {
			width: 4.5%;
			height: auto;
		}
	}
}


@media (max-width: 500px) {
	.about-home {
		max-width: 500px;
		.aboutMeCard {
			display: flex;
			flex-direction: column;
			.image {
				width: 100%;
				margin-left: 35%;
				img {
					width: 75%;
				}
			}
		}
		.skills-cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			border-top: 3px solid black;
			img {
				width: 15%;
			}
		}
	}
}

@media (max-width: 325px) {
	.about-home {
		max-width: 325px;
	}
	.skillsTitle {
		border-bottom:3px solid black;
	}
	.skills-cards {
		border-top: 3px solid black;
	}
}