.home-contact {
	// margin: auto;
	// max-width: 65%;
	padding: 20px;
	background-color: black;
	padding: 9px;
	text-align: center;
	margin-top: 100px;
	align-items: center;
	.contact-block-1 {
		.title  h1{
			color: white;
			font-size: 3rem;
			letter-spacing: 10px;
			margin-top: 70px;
		}
	}
	.contact-block-2 {
        display: flex;
		justify-content: space-evenly;
		margin-top: 20px;
		margin-bottom: 30px;
    }
}

.contact-cards {
	margin-top: 0px;
	margin-bottom: 50px;
    padding: 20px;
	// border-radius: 15px;
	background-color: white;
    width: 20%;
}

.contact-about-me-card {
	a {
		text-decoration: none;
	}
	h1,
	h3,
	h4 {
		color: black;
		font-size: 1.1rem;
		letter-spacing: 2px;
		text-transform: uppercase;
    }
    img {
		width: 22.5%;
		filter: black;
		-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1)
    }
}

@media (max-width: 500px) {
	.home-contact{
		max-width: 500px;
		.contact-cards{
			background-color: black;
			width: 33%;
			.contact-about-me-card{
				width: 33%;
			}
			img {
				display: none;
			}
			h3 {
				color: white;
			}
		}
	}
}

@media (max-width: 320px) {
	.home-contact {
		max-width: 320px;
	}
	.contact-cards .contact-about-me-card h3{
		font-size: .75rem;
	}
}