footer {
    margin-bottom: 0;
    display:flex;
    justify-content: center;
    height: auto;
    .footer-info{
        display: flex;
        flex-direction: column;
        .footer-contact-card {
            display: flex;
            border-radius:10px;
            p {
                color: #4d4d33;
                align-self: flex-start;
                font-size: 1.5rem;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
        .miscellaneous a {
            text-decoration: none;
            color: #4d4d33;
        }
    }

}

@media (max-width: 500px) {
    .footer-info{
        max-width: 500px;
        .footer-contact-card {
            p {
                 letter-spacing: .2px;
            }
        }
    }
}