footer {
    margin-top:150px;
    margin-bottom: 0;
    display:flex;
    justify-content: center;
    background: lightgreen;
    height: auto;
    border-top: 1px solid white;
    .footer-info{
        display: flex;
        flex-direction: column;
        .footer-contact-card {
            display: flex;
            border-radius:10px;
            p {
                color: #4d4d33;
                align-self: flex-start;
                font-size: 1.3rem;
                padding: 7px;
                border-radius: 7px;
                margin-left: 15px;
            }
        }
        .contact-cards-info{
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 50%;
            }
        }
    }

}


// 