.nav {
	background-color: var(--off-white);
	position: sticky;
	top: 0px;
	width: 100%;
	height: 80px;
	z-index: 1000;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  }
  .nav-title {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 1.7rem;
      // margin-top: 10%;
      // border-bottom: solid black 2px;
  }
  
  .nav-logo {
	height: 60px;
	width: 60px;
  }
  
  .nav-logo:hover {
	cursor: pointer;
  }
  
  .nav .nav-content {
	max-width: 90%;
	padding: 0rem 3rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
  }
  
  .nav-item {
	display: inline;
	margin-left: 2rem;
    letter-spacing: 1px;
    font-size: 1.1rem;
  }
  
  .nav-item:hover {
    color: #333;
	cursor: pointer;
  }

  @media (max-width: 500px) {
    .nav{
        margin: auto;
        height:auto;
    }
    .nav .nav-content {
        display: flex;
        flex-direction: column;
    }
    .nav-items {
        margin-right: 25%;
    }
    .nav-title {
      margin-top: 10%;
      border-bottom: solid black 2px;
  }
  }

  @media (max-width: 325px) {
      .nav{
        max-width: 325px;
        margin: auto;
        height:auto;
      }

      .nav-items {
        margin-right: 30%;
    }

  .nav-item {
    display: inline;
    margin-left: 2rem;
      letter-spacing: 1.5px;
      font-size: 0.75rem;
    }
  }