

nav{
    height: 20vh;
    display:flex;
    justify-content: flex-start;;
    background-color: black; 
    border-bottom: 1px solid white;
	background-image: url('../images/city-BW-upward.jpg');
	background-size: cover;
}