.topImage {
	background-image: url('../images/city-BW-upward.jpg');
	background-size: cover;
	height: 90vh;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
	.title {
		background-color: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(10px);
		width: 50%;

		h2 {
			font-size: 2rem;
			color: white;
			margin: 10%;
			letter-spacing: 10px;
		}
		.h1 {
			// border: solid white 1px;
			h1 {
				font-size: 3rem;
				color: white;
				letter-spacing: 10px;
			}
		}
	}
}

@media (max-width: 1024px) {
	.topImage {
		height: 40vh;
	}
	.title .h1 h1 {
		letter-spacing: 1.5px;
	}
}

@media (max-width: 768px) {
	.topImage{
		height: 50vh;
		.title {
			width: 60%;
			padding: 20px;
		}
		.h1 h1 {
			font-size: 2.0rem;
		}
	}
}

@media (max-width: 500px) {
	.topImage {
		height: 30vh;
		.title {
			width: 50%;
			height: auto;

			.h1 h1 {
                font-size: 1rem;
                letter-spacing: 3.5px;
            }
            h2{
                font-size: 0.5rem;
                letter-spacing: 2.5px;
            }
		}
	}
}
